In [ ]:
#import required packages
import pandas as pd
import numpy as np

In [ ]:
#Excercise 1
#code to check whether a number is prime number or not
num = int(input("Enter a number: "))
is_prime = num > 1 and all(num % i != 0 for i in range(2, num))
print(f"{num} is {'a prime' if is_prime else 'not a prime'} number.")

Enter a number: 54
54 is not a prime number.

In [ ]:
#Excercise 2
import random
a = random.randint(1, 10)
b = random.randint(1, 10)
answer = int(input(f"What is {a} * {b}? "))
if answer == a * b:
    print("Correct!")
else:
    print("Incorrect!")

What is 7 * 9? 34
Incorrect!

In [ ]:
#Excercise 3
for i in range(100, 201):
    if i % 2 == 0:
        square = i * i
        print(i, "squared is", square)

100 squared is 10000
102 squared is 10404
104 squared is 10816
106 squared is 11236
108 squared is 11664
110 squared is 12100
112 squared is 12544
114 squared is 12996
116 squared is 13456
118 squared is 13924
120 squared is 14400
122 squared is 14884
124 squared is 15376
126 squared is 15876
128 squared is 16384
130 squared is 16900
132 squared is 17424
134 squared is 17956
136 squared is 18496
138 squared is 19044
140 squared is 19600
142 squared is 20164
144 squared is 20736
146 squared is 21316
148 squared is 21904
150 squared is 22500
152 squared is 23104
154 squared is 23716
156 squared is 24336
158 squared is 24964
160 squared is 25600
162 squared is 26244
164 squared is 26896
166 squared is 27556
168 squared is 28224
170 squared is 28900
172 squared is 29584
174 squared is 30276
176 squared is 30976
178 squared is 31684
180 squared is 32400
182 squared is 33124
184 squared is 33856
186 squared is 34596
188 squared is 35344
190 squared is 36100
192 squared is 36864
194 squared is 37636
196 squared is 38416
198 squared is 39204
200 squared is 40000

In [ ]:
#Excercise 4,own example
input_text = "TODAY IS A VERY BEAUTIFUL DAY, SUN SHINES BEAUTIFULLY TODAY"

words = input_text.split()
word_count = {}

for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

for word, count in word_count.items():
    print(f"'{word}': {count}")

'TODAY': 2
'IS': 1
'A': 1
'VERY': 1
'BEAUTIFUL': 1
'DAY,': 1
'SUN': 1
'SHINES': 1
'BEAUTIFULLY': 1

In [ ]:
#Excercise 5,example provided
def is_palindrome(s):
    s = ''.join(c.lower() for c in s if c.isalnum())
    return s == s[::-1]

# Example usage
input_text = "racecar"
print(is_palindrome(input_text))  # Expected Output: True

True

In [ ]:
#Excercise 5,own example
def is_palindrome(s):
    s = ''.join(c.lower() for c in s if c.isalnum())
    return s == s[::-1]

# Example usage
input_text = "A man, a plan, a canal, Panama"
print(is_palindrome(input_text))  # Expected Output: True

True